* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dddfeb;
}

.quiz {
  position: relative;
  width: 400px;
  max-width: 500px;
  background-color: #1f2847;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 30px;
  color: #fff;
  margin-bottom: 40px;
  text-align: center;
}

#qns {
  font-size: 16px;
  color: #fff;
  margin-bottom: 10px;
}

label {
  /* display: block; */
  font-size: 12px;
  margin-bottom: 5px;
  color: #fff;
}

button {
  width: 100%;
  height: 25px;
  background-color: #0c80ef;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s linear;
}

button:hover {
  background-color: #0a6bc5;
}

.score {
  font-size: 16px;
  color: #fff;
  text-align: center;
  margin-top: 10px;
}
